<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giver Index</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Giver Index</h1><br>

    <nav>
        <a href="/givers/new">Add a New Giver</a><br><br>
    </nav>    
    <ul>
        
        <% for (let i=0; i<giver.length; i++) {  %>
            <li>
                <a href="/givers/<%=giver[i].id%>"> <%= giver[i].givername %> </a><br>
                <a> Address: <%= giver[i].address %> </a><br>
                <a> Assigned To: <%= giver[i].userId %></a><br>
                <a> Note Sent: <%= giver[i].notesent %> </a><br><br>
            </li>
        <% } %>
    </ul>
</body>
</html>