<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giver Index</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Giver Index</h1><br>

    <nav>
        <a href="/givers/new">Add a New Giver</a><br><br>
    </nav>
    <nav>
        <% for (let j=0; j< user.length; j++) { %>
            <a href="/users/<%=j%>/list" > List for <%=user[j].name%> (User ID: <%=user[j].id%>) </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <% } %>
            <a href="/givers/unassigned">Unassigned Givers</a>
    </nav>
       
        <br><br>
    <ol>
        
        <% for (let i=0; i<giver.length; i++) {  %>
            <li>
                <a href="/givers/<%=giver[i].id%>"> <%= giver[i].givername %> </a><br>
                <a> Address: <%= giver[i].address %> </a><br>
                <a> Assigned To User ID: <%= giver[i].userId %></a><br>
                <a> Note Sent: 
                    <input type="checkbox" disabled="disabled" name="notesent"
                    <% if (giver[i].notesent === true) { %>
                        checked
                    <% } %>
                    >
                </a><br><br>
            </li>
        <% } %>
    </ol>
   
</body>
</html>