<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Hi, <%= user.name %>. &nbsp&nbsp So you wanna' change your info? </h1>

    <form action="/users/<%=user.id%>/profile?_method=PUT" method="post">
        Name: <input type="text" name="name" value='<%=user.name%>'><br><br>
        Username: <input type="text" name="username" value='<%=user.username%>'><br><br>
        Password: <input type="text" name="password" value='<%=user.password%>'><br><br>
        <input type="submit" value="Save Changes">
    </form>
    <br><br><br>
    <form action="/users/<%=user.id%>/profile?_method=DELETE" method="post">
        <input type="submit" value="Delete User">
    </form>
</body>
</html>